.add-user-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Set position to relative */
}

.input-field {
  width: 100%;
  padding: 10px; /* Add padding to create space inside the input fields */
  margin-bottom: 20px; /* Add margin bottom to create space between input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.MuiInputBase-adornedStart {
  margin-bottom: 15px;
}

.submit-button {
  width: 100%;
}

.success-message {
  position: absolute;
  top: 100%; /* Position the success message below the form */
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  color: #3c763d;
  display: flex;
  align-items: center;
}

.success-icon {
  color: #3c763d;
  margin-right: 10px;
}
